google-nest-sdm
pyturbojpeg
ha-ffmpeg
hassil
home_assistant_intents
ical
mutagen
pymicro_vad
pyspeex_noise
mashumaro==3.22
pre-commit==4.6.1
ruff==0.16.2
ty==0.0.69
pytest-homeassistant-custom-component==0.13.354
