mashumaro==3.15
mypy==1.14.1
pre-commit==4.0.1
ruff==0.9.0
pytest-homeassistant-custom-component==0.13.203

# Don't hard pin dependencies of pytest-homeassistant-custom-component
pytest-asyncio>=0.23.6
syrupy>=4.6.1
PyYAML>=6.0.1

# Component dependencies
ical>=7.0.3
openai>=1.16.2
hassil>=2.0.4
home-assistant-intents>=2024.4.3
pymicro_vad>=1.0.2
mutagen>=1.47.0
ha-ffmpeg>=3.2.0
pyspeex_noise>=1.0.2
google_nest_sdm>=6.0.0
PyNaCl>=1.5.0
PyTurboJPEG>=1.7.5
